body { margin: 0; }
canvas { display: block; }

#info {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(30, 30, 30, 0.9);
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 10;
    transition: opacity 0.3s ease-in-out;
}

#fishButtonContainer {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fish-button {
    padding: 10px 20px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
}

.fish-button:hover {
    background: rgba(255, 255, 255, 0.2);
}

#waterColorButton {
    position: absolute;
    top: 600px;
    left: 20px;
}

#waterColorPicker {
    position: absolute;
    top: 650px;
    left: 20px;
    z-index: 1000;
    cursor: pointer;
    display: none;
}
